#temporarily ignored!:

#important stuff:

# -----------------------------------------------
# Objects
# -----------------------------------------------
*.o
*.a

*.out

# -----------------------------------------------
# Binaries
# -----------------------------------------------

MacOSX/386/bin/
Linux/386/bin/
Cygwin/386/bin/

# -----------------------------------------------
# Auto generated
# -----------------------------------------------

y.tab.c
y.tab.h
y.debug

/bin
/env
/mkconfig
